<div class="lyrics">
    <!--sse-->
    <p>[Verse 1: The Weeknd]<br />
        <a annotation-fragment="224594" class="referent" classification="accepted" data-id="224594"
            href="/The-weeknd-high-for-this-lyrics#note-224594" image="false" ng-class="{
              'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
              'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
              'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
            }" ng-click="open()"
            on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)"
            pending-editorial-actions-count="0" prevent-default-click="">You don't know what's in store<br />
            But you know what you're here for<br />
            Close your eyes, lay yourself beside me</a><br />
        <a annotation-fragment="8358913" class="referent" classification="accepted" data-id="8358913"
            href="/The-weeknd-high-for-this-lyrics#note-8358913" image="false" ng-class="{
              'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
              'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
              'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
            }" ng-click="open()"
            on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)"
            pending-editorial-actions-count="0" prevent-default-click="">Hold tight for this ride<br />
            We don't need no protection<br />
            Come alone, we don't need attention</a><br />
        <br />
        [Chorus: The Weeknd]<br />
        <a annotation-fragment="212033" class="referent" classification="accepted" data-id="212033"
            href="/The-weeknd-high-for-this-lyrics#note-212033" image="false" ng-class="{
              'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
              'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
              'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
            }" ng-click="open()"
            on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)"
            pending-editorial-actions-count="0" prevent-default-click="">Open your hand, take a
            glass<br />
            Don't be scared, I'm right here<br />
            Even though, you don't roll<br />
            Trust me girl, you wanna be high for this</a><br />
        <br />
        [Verse 2: The Weeknd]<br />
        <a annotation-fragment="212024" class="referent" classification="accepted" data-id="212024"
            href="/The-weeknd-high-for-this-lyrics#note-212024" image="false" ng-class="{
              'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
              'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
              'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
            }" ng-click="open()"
            on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)"
            pending-editorial-actions-count="0" prevent-default-click="">Take it off, you want it off<br />
            Cause I know what you're feeling<br />
            It's okay, girl, I feel it too</a><br />
        <a annotation-fragment="212027" class="referent" classification="accepted" data-id="212027"
            href="/The-weeknd-high-for-this-lyrics#note-212027" image="false" ng-class="{
              'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
              'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
              'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
            }" ng-click="open()"
            on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)"
            pending-editorial-actions-count="0" prevent-default-click="">Let it be, baby breathe<br />
            I swear I'm right here<br />
            We'll be good, I promise, we'll be so good</a><br />
        <br />
        [Chorus: The Weeknd]<br />
        <a annotation-fragment="212033" class="referent" classification="accepted" data-id="212033"
            href="/The-weeknd-high-for-this-lyrics#note-212033" image="false" ng-class="{
              'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
              'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
              'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
            }" ng-click="open()"
            on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)"
            pending-editorial-actions-count="0" prevent-default-click="">Open your hand, take a
            glass<br />
            Don't be scared, I'm right here<br />
            Even though, you don't roll<br />
            Trust me girl, you wanna be high for this<br />
            Woah, woah, woah, woah<br />
            Woah, woah, woah, woah<br />
            Woah, woah, woah, woah<br />
            You wanna be high for this</a><br />
        <br />
        [Outro]<br />
        <a annotation-fragment="212033" class="referent" classification="accepted" data-id="212033"
            href="/The-weeknd-high-for-this-lyrics#note-212033" image="false" ng-class="{
              'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
              'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
              'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
            }" ng-click="open()"
            on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)"
            pending-editorial-actions-count="0" prevent-default-click="">For this<br />
            You wanna be high for this<br />
            Ooh, woah<br />
            You wanna be high for this, yeah<br />
            You wanna be high for this</a></p>
    <!--/sse-->
</div>